@media screen and (max-width: 659px) {
  .mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    margin-left: 0;
  }
  .mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
  .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
    display: none !important;
  }
  .box-container {
    padding-top: 30px;
  }
  .box-container .box-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
  body {
    padding-top: 130px;
    background: #fff;
  }
  .box-container {
    background: #fff;
  }
  .box-container .level1,
  .box-container .box-content {
    min-height: 60vh;
  }
  .level1 {
    padding-top: 0;
    position: relative;
  }
  .level1 form {
    padding: 0;
  }
}
@media screen and (max-width: 460px) {
  .box-container .box-content form {
    padding: 35px 30px 80px;
  }
}
@media screen and (min-width: 660px) {
  .level1 form {
    padding: 0;
  }
  .box-container {
    padding: 30px 0;
    max-height: 80vh;
    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  }
  #box {
    height: 100%;
    position: relative;
  }
  #box > div {
    height: 100%;
  }
  #box > div > div {
    height: 100%;
  }
  #box > div > div > div {
    height: 100%;
    display: table;
  }
  #box > div > div > div > div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .box-container {
    padding-left: 30%;
    position: relative;
    background: #fff;
  }
  .box-container.nopad {
    padding-left: 0;
  }
  .box-container .box-top {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    text-align: center;
    padding-top: 70px;
  }
  .box-container .box-top .icon {
    float: none;
    height: auto;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .box-container .box-top .icon img {
    display: inline-block;
  }
  .box-container .box-top .title h3 {
    font-size: 32px;
    margin-bottom: 31px;
  }
  .box-container .box-top .title span.level-number {
    margin-bottom: 54px;
  }
  .box-container .box-top .title span.detail {
    font-size: 20px;
  }
  .box-container .box-top .title span.detail.left {
    text-align: left;
    margin-left: 120px;
    font-size: 15px;
    position: relative;
    bottom: 15px;
  }
  .box-container .box-top .title .remain,
  .box-container .box-top .title .countdown {
    font-weight: normal;
    color: #000000;
    font-size: 40px;
    margin-bottom: 14px;
  }
  .box-container .box-top.rad {
    height: auto;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
    border-radius: 0 0 50px 50px;
    -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  }
  .box-container .box-top.rad .icon {
    width: 98px;
    margin-top: 28px;
    height: 178px;
    display: inline-block;
  }
  .box-container .box-top.rad .title {
    padding-top: 28px;
  }
  .box-container .box-top.rad .title .detail {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .box-container .level1,
  .box-container .box-content {
    margin: 0px 20px 0 60px;
    max-height: 70vh;
    overflow: hidden;
    bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .box-container .level1 .mCSB_container,
  .box-container .box-content .mCSB_container {
    max-width: 400px;
    margin: 0px auto !important;
  }
  .box-container .level1 .mCSB_container .mCSB_container,
  .box-container .box-content .mCSB_container .mCSB_container {
    max-width: unset;
    margin: 0px auto;
  }
}
